<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892429934297-upm9k0odi910p2otve1tcqu7sl8t94v8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892429934297-upm9k0odi910p2otve1tcqu7sl8t94v8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>892429934297-h7762obql7ir7hpolbcnqha39rsdh43s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpN0bKwvsJyMGFWu-2wE5qkVTmPiz3fQw</string>
	<key>GCM_SENDER_ID</key>
	<string>892429934297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.payzeal.testoviy</string>
	<key>PROJECT_ID</key>
	<string>payzeal-testoviy</string>
	<key>STORAGE_BUCKET</key>
	<string>payzeal-testoviy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892429934297:ios:84fbbe37bd9213c06a28c8</string>
</dict>
</plist>